In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import tensorflow as tf

In [ ]:
path_to_file = '/content/shakespeare.txt'

In [ ]:
text = open(path_to_file,'r').read()
text[:500]

"\n                     1\n  From fairest creatures we desire increase,\n  That thereby beauty's rose might never die,\n  But as the riper should by time decease,\n  His tender heir might bear his memory:\n  But thou contracted to thine own bright eyes,\n  Feed'st thy light's flame with self-substantial fuel,\n  Making a famine where abundance lies,\n  Thy self thy foe, to thy sweet self too cruel:\n  Thou that art now the world's fresh ornament,\n  And only herald to the gaudy spring,\n  Within thine own bu"

In [ ]:
print(text[:500])

                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But as the riper should by time decease,
  His tender heir might bear his memory:
  But thou contracted to thine own bright eyes,
  Feed'st thy light's flame with self-substantial fuel,
  Making a famine where abundance lies,
  Thy self thy foe, to thy sweet self too cruel:
  Thou that art now the world's fresh ornament,
  And only herald to the gaudy spring,
  Within thine own bu

In [ ]:
vocab = sorted(set(text)) # gives us all the unique characters
vocab

['\n',
 ' ',
 '!',
 '"',
 '&',
 "'",
 '(',
 ')',
 ',',
 '-',
 '.',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 ';',
 '<',
 '>',
 '?',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 '[',
 ']',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '|',
 '}']

In [ ]:
len(vocab) # we have 84 UNIQUE characters in this text dataset.

84

In [ ]:
'''
for pair in enumerate(vocab): # enumerate returns index values for each character
  print(pair)
'''

'\nfor pair in enumerate(vocab): # enumerate returns index values for each character\n  print(pair)\n'

### Now we will use the above cell block to make a dictionary with the index:

In [ ]:
char_to_ind = {char:ind for ind,char in enumerate(vocab)}
char_to_ind

{'\n': 0,
 ' ': 1,
 '!': 2,
 '"': 3,
 '&': 4,
 "'": 5,
 '(': 6,
 ')': 7,
 ',': 8,
 '-': 9,
 '.': 10,
 '0': 11,
 '1': 12,
 '2': 13,
 '3': 14,
 '4': 15,
 '5': 16,
 '6': 17,
 '7': 18,
 '8': 19,
 '9': 20,
 ':': 21,
 ';': 22,
 '<': 23,
 '>': 24,
 '?': 25,
 'A': 26,
 'B': 27,
 'C': 28,
 'D': 29,
 'E': 30,
 'F': 31,
 'G': 32,
 'H': 33,
 'I': 34,
 'J': 35,
 'K': 36,
 'L': 37,
 'M': 38,
 'N': 39,
 'O': 40,
 'P': 41,
 'Q': 42,
 'R': 43,
 'S': 44,
 'T': 45,
 'U': 46,
 'V': 47,
 'W': 48,
 'X': 49,
 'Y': 50,
 'Z': 51,
 '[': 52,
 ']': 53,
 '_': 54,
 '`': 55,
 'a': 56,
 'b': 57,
 'c': 58,
 'd': 59,
 'e': 60,
 'f': 61,
 'g': 62,
 'h': 63,
 'i': 64,
 'j': 65,
 'k': 66,
 'l': 67,
 'm': 68,
 'n': 69,
 'o': 70,
 'p': 71,
 'q': 72,
 'r': 73,
 's': 74,
 't': 75,
 'u': 76,
 'v': 77,
 'w': 78,
 'x': 79,
 'y': 80,
 'z': 81,
 '|': 82,
 '}': 83}

In [ ]:
char_to_ind['v'] #gives us the numeric index for the character 'v'.

77

## We made a function to give indexes to each character...but now we want to pass in the index number and get the character at that index, so we will do this:

In [ ]:
ind_to_char = np.array(vocab)

In [ ]:
ind_to_char[33] # 'H' is at index position 33

'H'

In [ ]:
encoded_text = np.array([char_to_ind[c] for c in text])
# this line will encode everything in the shakespear text file into a numpy array AKA NUMERIC VALUE FOR EVERY WORD.

In [ ]:
encoded_text

array([ 0,  1,  1, ..., 30, 39, 29])

In [ ]:
encoded_text.shape # 5.5 MILLION CHARACTERS IN OUR FILE.

(5445609,)

In [ ]:
sample = text[:500]
sample

"\n                     1\n  From fairest creatures we desire increase,\n  That thereby beauty's rose might never die,\n  But as the riper should by time decease,\n  His tender heir might bear his memory:\n  But thou contracted to thine own bright eyes,\n  Feed'st thy light's flame with self-substantial fuel,\n  Making a famine where abundance lies,\n  Thy self thy foe, to thy sweet self too cruel:\n  Thou that art now the world's fresh ornament,\n  And only herald to the gaudy spring,\n  Within thine own bu"

In [ ]:
encoded_text[:500] #we see how this returns every word in its NUMERIC FORM which helps the machine to read+understand it.

array([ 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, 12,  0,  1,  1, 31, 73, 70, 68,  1, 61, 56, 64,
       73, 60, 74, 75,  1, 58, 73, 60, 56, 75, 76, 73, 60, 74,  1, 78, 60,
        1, 59, 60, 74, 64, 73, 60,  1, 64, 69, 58, 73, 60, 56, 74, 60,  8,
        0,  1,  1, 45, 63, 56, 75,  1, 75, 63, 60, 73, 60, 57, 80,  1, 57,
       60, 56, 76, 75, 80,  5, 74,  1, 73, 70, 74, 60,  1, 68, 64, 62, 63,
       75,  1, 69, 60, 77, 60, 73,  1, 59, 64, 60,  8,  0,  1,  1, 27, 76,
       75,  1, 56, 74,  1, 75, 63, 60,  1, 73, 64, 71, 60, 73,  1, 74, 63,
       70, 76, 67, 59,  1, 57, 80,  1, 75, 64, 68, 60,  1, 59, 60, 58, 60,
       56, 74, 60,  8,  0,  1,  1, 33, 64, 74,  1, 75, 60, 69, 59, 60, 73,
        1, 63, 60, 64, 73,  1, 68, 64, 62, 63, 75,  1, 57, 60, 56, 73,  1,
       63, 64, 74,  1, 68, 60, 68, 70, 73, 80, 21,  0,  1,  1, 27, 76, 75,
        1, 75, 63, 70, 76,  1, 58, 70, 69, 75, 73, 56, 58, 75, 60, 59,  1,
       75, 70,  1, 75, 63, 64, 69, 60,  1, 70, 78, 69,  1, 57, 73, 64, 62,
       63, 75,  1, 60, 80, 60, 74,  8,  0,  1,  1, 31, 60, 60, 59,  5, 74,
       75,  1, 75, 63, 80,  1, 67, 64, 62, 63, 75,  5, 74,  1, 61, 67, 56,
       68, 60,  1, 78, 64, 75, 63,  1, 74, 60, 67, 61,  9, 74, 76, 57, 74,
       75, 56, 69, 75, 64, 56, 67,  1, 61, 76, 60, 67,  8,  0,  1,  1, 38,
       56, 66, 64, 69, 62,  1, 56,  1, 61, 56, 68, 64, 69, 60,  1, 78, 63,
       60, 73, 60,  1, 56, 57, 76, 69, 59, 56, 69, 58, 60,  1, 67, 64, 60,
       74,  8,  0,  1,  1, 45, 63, 80,  1, 74, 60, 67, 61,  1, 75, 63, 80,
        1, 61, 70, 60,  8,  1, 75, 70,  1, 75, 63, 80,  1, 74, 78, 60, 60,
       75,  1, 74, 60, 67, 61,  1, 75, 70, 70,  1, 58, 73, 76, 60, 67, 21,
        0,  1,  1, 45, 63, 70, 76,  1, 75, 63, 56, 75,  1, 56, 73, 75,  1,
       69, 70, 78,  1, 75, 63, 60,  1, 78, 70, 73, 67, 59,  5, 74,  1, 61,
       73, 60, 74, 63,  1, 70, 73, 69, 56, 68, 60, 69, 75,  8,  0,  1,  1,
       26, 69, 59,  1, 70, 69, 67, 80,  1, 63, 60, 73, 56, 67, 59,  1, 75,
       70,  1, 75, 63, 60,  1, 62, 56, 76, 59, 80,  1, 74, 71, 73, 64, 69,
       62,  8,  0,  1,  1, 48, 64, 75, 63, 64, 69,  1, 75, 63, 64, 69, 60,
        1, 70, 78, 69,  1, 57, 76])

#NOW WE WILL CREATE BATCHES FROM THE TEXT DATA:

In [ ]:
print(text[:500])

                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But as the riper should by time decease,
  His tender heir might bear his memory:
  But thou contracted to thine own bright eyes,
  Feed'st thy light's flame with self-substantial fuel,
  Making a famine where abundance lies,
  Thy self thy foe, to thy sweet self too cruel:
  Thou that art now the world's fresh ornament,
  And only herald to the gaudy spring,
  Within thine own bu

In [ ]:
# we take the first line form the text data and check its length
line = "From fairest creatures we desire increase"
len(line)

41

# We are doing all this to make sure we choose the correct sequence length
- **We take 3 lines below because Shakespeare makes sure to rhyme at the end of every other line, so the model might need atleast 3 lines worth of text data to make accurate predictions.**

In [ ]:
# we take the first 3 lines and check their length
lines = '''
From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But as the riper should by time decease,
'''

In [ ]:
len(lines)

133

In [ ]:
seq_len = 120 # WE TAKE SEQUENCE LENGTH OF 120 BECAUSE THAT SEEMS SUFFICIENT FOR THE MODEL TO UNDERSTAND THE TEXT DATA AND MAKE ACCURATE PREDICTIONS.

In [ ]:
total_num_seq = len(text) // (seq_len+1) #we use '//' instead of '/' because '/' will return not-rounded number while '//' returns a rounded number.

#**IMPORTANT NOTE** : We do +1 here because later in the code we ask for the first word or the 'word number 1' but as python starts the indexing at 0, we need to add 1 so that there is no error there.

In [ ]:
total_num_seq

45005

In [ ]:
char_dataset = tf.data.Dataset.from_tensor_slices(encoded_text)
# read about 'tf.data.Dataset.from_tensor_slices()' function if you have any doubts

In [ ]:
type(char_dataset)

tensorflow.python.data.ops.dataset_ops.TensorSliceDataset

In [ ]:
#Creates a Dataset with at most count elements from this dataset
for item in char_dataset.take(500):
  print(ind_to_char[item.numpy()]) #this returns every alphabet individually from every word.

#print(item.numpy()) returns numbers/indexes of every word

1




F
r
o
m

f
a
i
r
e
s
t

c
r
e
a
t
u
r
e
s

w
e

d
e
s
i
r
e

i
n
c
r
e
a
s
e
,




T
h
a
t

t
h
e
r
e
b
y

b
e
a
u
t
y
'
s

r
o
s
e

m
i
g
h
t

n
e
v
e
r

d
i
e
,




B
u
t

a
s

t
h
e

r
i
p
e
r

s
h
o
u
l
d

b
y

t
i
m
e

d
e
c
e
a
s
e
,




H
i
s

t
e
n
d
e
r

h
e
i
r

m
i
g
h
t

b
e
a
r

h
i
s

m
e
m
o
r
y
:




B
u
t

t
h
o
u

c
o
n
t
r
a
c
t
e
d

t
o

t
h
i
n
e

o
w
n

b
r
i
g
h
t

e
y
e
s
,




F
e
e
d
'
s
t

t
h
y

l
i
g
h
t
'
s

f
l
a
m
e

w
i
t
h

s
e
l
f
-
s
u
b
s
t
a
n
t
i
a
l

f
u
e
l
,




M
a
k
i
n
g

a

f
a
m
i
n
e

w
h
e
r
e

a
b
u
n
d
a
n
c
e

l
i
e
s
,




T
h
y

s
e
l
f

t
h
y

f
o
e
,

t
o

t
h
y

s
w
e
e
t

s
e
l
f

t
o
o

c
r
u
e
l
:




T
h
o
u

t
h
a
t

a
r
t

n
o
w

t
h
e

w
o
r
l
d
'
s

f
r
e
s
h

o
r
n
a
m
e
n
t
,




A
n
d

o
n
l
y

h
e
r
a
l
d

t
o

t
h
e

g
a
u
d
y

s
p
r
i
n
g
,




W
i
t
h
i
n

t
h
i
n
e

o
w
n

b
u

In [ ]:
sequences = char_dataset.batch(batch_size= seq_len+1, drop_remainder=True) #Combines consecutive elements of this dataset into batches.
# As our dataset is NOT perfectly divisble by the number of sequences, it will leave a remainder, so we use drop_remainder=True to drop those values.
# we will drop just 119 characters from a dataset containing 5M so it's ok.

In [ ]:
# given a sequence of length 120, the input_text starts from the beginning till the end excluding the last character.
def create_seq_targets(seq):
  input_txt = seq[:-1] # from index 0 uptil the end but not including the last character, eg- Hello my nam
  target_txt = seq[1:] #from index 1 till the end, eg- ello my name aka we shift ahead by one character.
  return input_txt, target_txt

In [ ]:
dataset = sequences.map(create_seq_targets)

In [ ]:
for input_txt,target_txt in dataset.take(1):
  print(input_txt.numpy())
  print("".join(ind_to_char[input_txt.numpy()]))
  print('\n')
  print(target_txt.numpy())
  print("".join(ind_to_char[target_txt.numpy()]))

[ 0  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 12  0
  1  1 31 73 70 68  1 61 56 64 73 60 74 75  1 58 73 60 56 75 76 73 60 74
  1 78 60  1 59 60 74 64 73 60  1 64 69 58 73 60 56 74 60  8  0  1  1 45
 63 56 75  1 75 63 60 73 60 57 80  1 57 60 56 76 75 80  5 74  1 73 70 74
 60  1 68 64 62 63 75  1 69 60 77 60 73  1 59 64 60  8  0  1  1 27 76 75]

                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But


[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 12  0  1
  1 31 73 70 68  1 61 56 64 73 60 74 75  1 58 73 60 56 75 76 73 60 74  1
 78 60  1 59 60 74 64 73 60  1 64 69 58 73 60 56 74 60  8  0  1  1 45 63
 56 75  1 75 63 60 73 60 57 80  1 57 60 56 76 75 80  5 74  1 73 70 74 60
  1 68 64 62 63 75  1 69 60 77 60 73  1 59 64 60  8  0  1  1 27 76 75  1]
                     1
  From fairest creatures we desire increase,
  That thereby beauty's rose might never die,
  But

# What is happening above is that the model takes those numpy values of the words and understands the text that is below it for BOTH INPUT_TXT AND TARGET_TXT.
- **The numbers and text that we see first is for the input_txt and then the next 2 is for the target_txt**
- **We see that the target_txt starts from 1 and ends at 1 unlike the input_txt that starts at 0 and ends at 75 ; which means the target_txt is correctly shifting one step forward to the right.**
- **The text looks the same above because the last character in the target_txt is a whitespace aka ' ' ; we can see this by selecting the whole input_txt and look at where the blue ends and then do the same for target_txt and see that there is an extra space while selecting it.**

In [ ]:
batch_size = 128

In [ ]:
# WE SHUFFLE THE DATASET TO MAKE SURE THE MODEL DOESN'T JUST MEMORIZE A PARTICULAR SEQUENCE OF DATA

buffer_size = 10000
# Buffer size to shuffle the dataset so it doesn't attempt to shuffle
# the entire sequence in memory. Instead, it maintains a buffer in which it shuffles elements

dataset = dataset.shuffle(buffer_size=buffer_size).batch(batch_size, drop_remainder=True)

In [ ]:
dataset
# 128 different types of sequences where every sequence is 120 characters long; where the first (128,120) is for the input sequnce and the 2nd one is for the target sequence

# CREATING THE MODEL:

In [ ]:
vocab_size = len(vocab) #number of UNIQUE characters in this text dataset.

In [ ]:
vocab_size

84

# NOTE: The embedding layer will serve as the input layer, which essentially creates a lookup table that maps the numbers indices of each character to a vector with "embedding dim" number of dimensions. As you can imagine, the larger this embedding size, the more complex the training. This is similar to the idea behind word2vec, where words are mapped to some n-dimensional space. Embedding before feeding straight into the LSTM usually leads to more realisitic results.

In [ ]:
embed_dim = 64

In [ ]:
rnn_neurons = 1026 # Number of RNN units; we just use a single leayer with a lot of neurons

# SETTING UP THE LOSS FUNCTION:
- **Why we use SPARSE:**

![image.png]()

In [ ]:
from tensorflow.keras.losses import sparse_categorical_crossentropy # WHY WE USE SPARSE IS SHOWN ABOVE.

# We will use an LSTM based model with a few extra features, including an embedding layer to start off with and two LSTM layers.

In [ ]:
# we create our custom loss function here to make sure from_logits=True bcz it should be true when we are ONE-HOT ENCODED WHICH WE ARE.
def sparse_cat_loss(y_true,y_pred):
  return sparse_categorical_crossentropy(y_true,y_pred, from_logits=True)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense,Embedding,Dropout,GRU

In [ ]:
def create_model(vocab_size,embed_dim,rnn_neurons,batch_size):

  model = Sequential()
  model.add(Embedding(input_dim=vocab_size, output_dim=embed_dim, batch_input_shape=[batch_size,None]))

  model.add(GRU(units=rnn_neurons, return_sequences=True, stateful=True, recurrent_initializer='glorot_uniform'))
  #NOW WE ADD OUR FINAL DENSE LAYER:
  model.add(Dense(vocab_size))

  model.compile('adam', loss=sparse_cat_loss)

  return model

# Where vocab_size = 84, embed_dim = 64, rnn_neurons = 1026 and batch_size = 128

In [ ]:
model = create_model(vocab_size=vocab_size, embed_dim=embed_dim, rnn_neurons=rnn_neurons, batch_size=batch_size)

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (128, None, 64)           5376
_________________________________________________________________
gru (GRU)                    (128, None, 1026)         3361176
_________________________________________________________________
dense (Dense)                (128, None, 84)           86268
=================================================================
Total params: 3,452,820
Trainable params: 3,452,820
Non-trainable params: 0
_________________________________________________________________

# TRAINING THE MODEL:

In [ ]:
# just to check the model:
for input_example_batch, target_example_batch in dataset.take(1):

  example_batch_preds = model(input_example_batch)

In [ ]:
example_batch_preds.shape # batch_size, sequence length, vocab_size

TensorShape([128, 120, 84])

In [ ]:
example_batch_preds[0] # Probabilities

<tf.Tensor: shape=(120, 84), dtype=float32, numpy=
array([[ 6.6124666e-03, -8.7229824e-03,  5.0702813e-04, ...,
        -1.4054732e-03, -2.1066125e-03,  2.4682197e-03],
       [ 7.1852417e-05, -8.4817940e-03, -3.4288496e-03, ...,
        -3.8073899e-03, -2.0967738e-03,  7.2538727e-03],
       [-1.4313087e-03, -8.1600053e-03, -5.8940179e-03, ...,
         1.1522712e-03, -3.0179822e-04,  3.9321952e-03],
       ...,
       [ 1.5874643e-02, -1.4584118e-02, -4.5198817e-03, ...,
        -3.4089843e-03,  8.5984990e-03,  4.9333940e-03],
       [ 1.5358362e-02, -1.7029786e-02, -1.1033731e-04, ...,
         2.2919145e-03,  1.2460375e-02, -7.2114402e-03],
       [ 1.5506135e-02, -1.7657163e-02,  7.6683488e-04, ...,
         9.1703964e-04,  2.1059928e-03, -3.9302534e-04]], dtype=float32)>

In [ ]:
sampled_indices = tf.random.categorical(example_batch_preds[0], num_samples=1)

In [ ]:
sampled_indices = tf.squeeze(sampled_indices, axis=-1).numpy() #this reshapes it
sampled_indices

array([42, 73, 13, 44, 25, 70, 21, 78, 73, 46,  4, 31, 69, 32, 35, 51, 43,
       24, 15, 36, 45, 55, 24, 77,  9, 48, 13, 52, 80, 26, 48, 58,  6, 81,
       70, 31, 26, 20, 53, 70, 63, 18, 18, 62, 61, 43, 21, 23, 44, 67, 30,
       60, 58, 54, 57, 57, 56, 15,  2, 81, 82, 73, 38, 28,  8, 33,  3, 34,
       37, 23,  3,  0, 44,  2, 72,  9, 17,  6, 60, 15, 83, 33, 30, 48, 26,
        0,  5, 81, 13, 16, 29, 75, 66, 40, 47, 20, 29, 59, 30, 35, 47, 43,
       42, 81, 15, 41, 20,  9,  7, 70, 12, 17, 42, 59, 56, 22, 41, 56,  8,
       20])

In [ ]:
ind_to_char[sampled_indices] #this is all random because the model hasnt been trained until now

array(['Q', 'r', '2', 'S', '?', 'o', ':', 'w', 'r', 'U', '&', 'F', 'n',
       'G', 'J', 'Z', 'R', '>', '4', 'K', 'T', '`', '>', 'v', '-', 'W',
       '2', '[', 'y', 'A', 'W', 'c', '(', 'z', 'o', 'F', 'A', '9', ']',
       'o', 'h', '7', '7', 'g', 'f', 'R', ':', '<', 'S', 'l', 'E', 'e',
       'c', '_', 'b', 'b', 'a', '4', '!', 'z', '|', 'r', 'M', 'C', ',',
       'H', '"', 'I', 'L', '<', '"', '\n', 'S', '!', 'q', '-', '6', '(',
       'e', '4', '}', 'H', 'E', 'W', 'A', '\n', "'", 'z', '2', '5', 'D',
       't', 'k', 'O', 'V', '9', 'D', 'd', 'E', 'J', 'V', 'R', 'Q', 'z',
       '4', 'P', '9', '-', ')', 'o', '1', '6', 'Q', 'd', 'a', ';', 'P',
       'a', ',', '9'], dtype='<U1')

In [ ]:
# THIS TOOK A LOT OF TIME, 1-2 MINS FOR EACH EPOCH, SO WE JUST LOAD THE MODEL PROVIDED BY UDEMY INSTEAD
# epoch = 30
# model.fit(dataset, epochs=epoch)

In [ ]:
from tensorflow.keras.models import load_model

In [ ]:
model = create_model(vocab_size, embed_dim, rnn_neurons, batch_size=1)

model.load_weights('shakespeare_gen.h5') # we don't load the whole model, we just use its weights and train the model ourselves

model.build(tf.TensorShape([1,None]))

In [ ]:
model.summary() #shape has changed from 128 previously to 1 now.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (1, None, 64)             5376
_________________________________________________________________
gru_1 (GRU)                  (1, None, 1026)           3361176
_________________________________________________________________
dense_1 (Dense)              (1, None, 84)             86268
=================================================================
Total params: 3,452,820
Trainable params: 3,452,820
Non-trainable params: 0
_________________________________________________________________

In [ ]:
def generate_text(model, start_seed, gen_size=500, temp=1.0):
  '''
  model: Trained Model to Generate Text
  start_seed: Intial Seed text in string form
  gen_size: Number of characters to generate

  Basic idea behind this function is to take in some seed text, format it so
  that it is in the correct shape for our network, then loop the sequence as
  we keep adding our own predicted characters. Similar to our work in the RNN
  time series problems.
  '''
  # Number of characters to generate
  num_generate = gen_size

  input_eval = [char_to_ind[s] for s in start_seed] # Vectorizing starting seed text

  input_eval = tf.expand_dims(input_eval,0) # Expand to match batch format shape

  text_generated = [] # Empty list to hold resulting generated text

  # Temperature effects randomness in our resulting text
  # The term is derived from entropy/thermodynamics.
  # The temperature is used to effect probability of next characters.
  # Higher temperature == less surprising/ more expected
  # Lower temperature == more surprising / less expected

  temperature = temp

  # Here batch size == 1
  model.reset_states()

  for i in range(num_generate):
    predictions = model(input_eval)
    predictions = tf.squeeze(predictions,0)
    predictions = predictions/temperature

    predicted_id = tf.random.categorical(predictions, num_samples=1)[-1,0].numpy()

    input_eval = tf.expand_dims([predicted_id],0)

    text_generated.append(ind_to_char[predicted_id])

  return (start_seed+"".join(text_generated))

In [ ]:
print(generate_text(model,"JULIET",1000))

JULIETIDION. I am lost,
    I will o'errung his melody in fliet
    The heart that I had tricket daughter,
    And cull it yours, although of power of suit,
    Or rated me as it were, till this
    plough's clothou.
  CLOWN. Lady of England, when we abuse.
  KING HENRY. Yes, faith, nor me; it goes unto rewarder.
  KING EDWARD. Now, Sir Topas, sweet Brutus, take
    me, and 'twere to much finely by my sorrow.
  PAULINA. Then make a man-but furnish not a friendly
    knave, i' faith, you are poor, is honest.
    How now, spanish! How now! What is Jove runs
    there?
  FLAMIUS. Of that, milat, yet I'll ne'er acknowledg'd
    to-morrow to a good wit, prick, but on executed pillow,
    says but myself-
    There is no face which I'll be well in land.
  EXETER. What was the first coccofficene?
  TROILUS. Gramercian woe, for that the wonder even till this land,
    Or else I swife, that I might were
    That he's deliver'd to this gracious Dentlewoman?
  SIRVANT. Sow with his son, these are the

# We can see that the model did a decent job at generating text that looks a lot like Shakespearen text. We can always try to improve the model by adding LSTM layers, playing around with other hyperparameters etc